.main-container {
  overflow: scroll;
}

#graph1,#graph2,#graph3,#graph4 {
  margin-bottom:30px;
}

#graph0 {
  margin-bottom:30px;
}

.sentiment_module {
  display:flex;
  padding:30px;
  margin-top: 30px;
  background:white;
  justify-content: centre;
  flex-direction: riow;
  flex-wrap: wrap;
}

.sentiment_module img {
  height:auto;
}

.menu-container {
  font-family: 'Source Sans Pro';
  position:fixed;
  top:0;
  bottom:0;
  color:white;
  left:0;
  width:260px;
  background:#43425D;
}

.wordcloud_image {
  width:535px;
  height:auto;
}

.menu-header {
  height:70px;
  width:100%;
  line-height: 70px;
  color:white;
  font-size: 24px;
  font-weight: 600;
  background:#3B3B53;
}

.menu-header span {
  margin-right:15px;
  margin-left:30px;
}

.menu {
  margin:0;
  padding:0;
}

.menu .menu-item {
  list-style: none;
  height:50px;
  line-height: 50px;
  color:white;
  padding-left:30px;
}

.menu .menu-item:hover {
  border-left:3px solid #A3A0FB;
  padding-left:27px;
  background:#3B3B53;
  cursor:pointer;
}

.menu img {
  margin-right:10px;
}

.main-container {
  position:fixed;
  left:260px;
  top:0;
  right:0;
  bottom:0;
  padding:25px;
  background:#F0F0F7;
}

.small_square {
  font-family: 'Source Sans Pro';
  display:block;
  flex:1;
  background:white;
  margin-right:20px;
  margin-bottom:20px;
  webkit-box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.03);
  -moz-box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.03);
  box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.03);
  padding:20px;
  color:#8483AC;
}

.row-stats {
  display:flex;
  flex-direction:row;
  flex-wrap:nowrap;

  width:100%;
}

.small_square .title {
  font-size: 15px;
  width:100%;
  text-transform: left;
  display:block;
}

.small_square .numbers {
  width:100%;
  margin-top:10px;
  display:flex;
  flex-direction:row;
  flex-wrap:nowrap;
  justify-content:space-between;
}

.small_square .number {
  padding-right: 20px;
  display:flex;
  flex-direction:column;
  justify-content: center;
  height:100%;
}

.small_square .image {
  flex:1;
  max-width:120px;
  width:auto;
}

.small_square .image img {
  width:100%;
  height:auto;
}

.small_square .absolute {
  font-size: 22px;
  color:#4D4F5C;
  font-weight: 700;
}

.small_square .up {
  width:100%;
  text-align: center;;
  font-size: 12px;
  color:#3CC480;
  font-weight: 700;
}

.small_square .down {
  font-size: 12px;
  color:#FF4141;
  width:100%;
  text-align:center;
  font-weight: 700;
}

.row_twitter_1 {
  display:flex;
  flex-direction: row;
  flex-wrap:nowrap;
}

.row_twitter_1 .js-plotly-plot{
  flex:1;
  width:auto;
  margin-right:30px;
}

.svg-container {
  webkit-box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.03);
  -moz-box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.03);
  box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.03);
  margin-right:30px;
}

.prediction_block {
  background:white;
  padding:30px;
  margin-left:30px;
  margin-top:30px;
  font-family: 'Source Sans Pro';
  font-size: 16px;
}

.prediction_block textarea{
  width:100%;
  margin-top:10px;
  margin-bottom:10px;
  height:400px;
}

.prediction_block button {
  width:60%;
  font-family: 'Source Sans Pro';
  padding:8px;
  border:1px solid black;
  background:transparent;
  margin-right:12px;
}

.js-plotly-plot {
  flex:1;
  width:100%;
}

.svg-container {
  width:100%;
}
